<form method="POST" action="/auth/signup">
    <div>
      <label>First Name</label>
      <input name="firstname" type="text" />
    </div>
    <div>
      <label>Last Name</label>
      <input name="lastname" type="text" />
    </div>
    <div>
      <label>Email</label>
      <input name="email" type="email" />
    </div>
    <div>
      <label>Password</label>
      <input name="password" type="password" />
    </div>
    <div>
        <section>
            <option value="user">USER</option>
            <option value="Artist">Artist </option>
          
        </section>


    </div>>
    <div>
      <button type="submit">Sign Up</button>
    </div>
  </form>