<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Art Gallery</title>
  </head>
  <body>

   
    

    <nav class="navigation">
      <div>
        <a href="/home">Home </a>
        <a href="/auth/signin" style="padding-left: 10px;"></a>
        <a href="/auth/signup" style="padding-left: 10px;"></a>
      </div>
      <% if(currentUser) {%>
      <div>
        <a href="/home"><%= currentUser.name %></a>
        <a href="/auth/logout">Logout</a>
      </div>
      <%} %> <% if(!currentUser) {%>
      <div>
        <a href="/auth/signin">Signin</a>
        <a href="/auth/signup">Signup</a>
      </div>
      <%} %>
    </nav>
    <%- body %>
  </body>
</html>
