*,
::after,
::before {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-image: url(/images/image.jpg);
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-control,
.btn-primary {
  margin-top: 10px;
}

#loguser {
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    background-color: rgba(116, 111, 111, 0.555);
    text-align: center;
}

#loguser , h1 {
    font-weight: 900;
}
.hello {
    text-align: left;
    padding: 2%;
}

#linkes {
    background-color: darkslategrey;
}

.box{

    background-color: rgba(32, 32, 31, 0.76);
    width: 220px;
    height: 220px;
    margin: 1%;
    margin-left: 5%;
    float: left;
}

.clear{
    clear: both;
}

.empty{
    padding-left: 15%
}
.partner {
    padding-top: 40%;
}

