*,
::after,
::before {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-control,
.btn-primary {
  margin-top: 10px;
}
