@font-face {
  font-family: rubik;
  src: url(./fonts/Rubik-Regular.ttf);
}
*,
::after,
::before {
  box-sizing: border-box;
  font-family: rubik !important;
}
body {
  margin: 0;
  background-color: rgb(0, 0, 0);
  padding: 2%;
}

.hero-cont {
  background-image: url("/images/image.jpg");
  background-size: cover;
  background-position: center center;
  background-color: #555555;
  background-blend-mode: multiply;
  padding: 2em;
}

.hero h2,
.hero h1 {
  color: white;
  line-height: 1.4em;
  text-align: center;
}

.hero h2 {
  font-size: 4em;
  font-weight: bold;
  padding: 1em 0;
}

.hero h1 {
  font-size: 2em;
  font-style: italic;
  padding: 0.8em 0;
}

.aboutbtn,
.contactbtn {
  display: block;
  color: #167c80;
  background-color: white;
  border-radius: 20px;
  padding: 5px 15px;
  text-decoration: none;
  transition: all 0.2s;
}

.aboutbtn:hover,
.contactbtn:hover {
  background-color: #167c80;
  color: white;
  transition: all 0.2s;
}

.aboutbtn,
.contactbtn {
  height: 35px;
  width: 150px;
  text-align: center;
}

.aboutbtn {
  margin: auto;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-control,
.btn-primary {
  margin-top: 10px;
  background-color: rgb(255, 255, 255);
}

#signup {
  display: block;
  color: #167c80;
  background-color: white;
  border-radius: 20px;
  padding: 5px 15px;
  text-decoration: none;
  transition: all 0.2s;
  margin-bottom: 5%;
}

#signup:hover {
  background-color: #167c80;
  color: white;
  transition: all 0.2s;
}

#checkout {
  display: block;
  color: white;
  background-color: #167c80;
  border-radius: 20px;
  padding: 5px 15px;
  text-decoration: none;
  transition: all 0.2s;
  margin-bottom: 5%;
}

#checkout:hover {
  background-color: #0d4c4e;
  transition: all 0.2s;
}

#remove {
  color: white;
  background-color: #bd2525;
  border-radius: 20px;
  padding: 5px 3px;
  text-decoration: none;
  transition: all 0.2s;
  margin-bottom: 5%;
}

#remove:hover {
  background-color: #861b1b;
  transition: all 0.2s;
}

#loguser {
  color: aliceblue;
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  background-color: rgba(116, 111, 111, 0.555);
  text-align: center;
}

#Post {
  color: aliceblue;
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  background-color: rgba(163, 163, 163, 0.226);
  text-align: center;
  padding: 2%;
}

#loguser,
h1 {
  font-weight: 900;
}

#Post,
h1 {
  font-weight: 900;
  color: aliceblue;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}
.hello {
  text-align: left;
  padding: 2%;
}

#linkes {
  background-color: darkslategrey;
}

.w3-tooltip {
  background-color: rgba(32, 32, 31, 0.76);
  width: 220px;
  height: 220px;
  margin: 4%;
  margin-left: 5%;
  float: left;
}

#ad {
  background-color: black;
  background-size: cover;
}

.box {
  background-color: rgba(32, 32, 31, 0.76);
  width: 220px;
  height: 220px;
  margin: 4%;
  margin-left: 5%;
  float: left;
}

.clear {
  clear: both;
}

.empty {
  padding-left: 7%;
}

.empty:hover {
  background-color: rgba(104, 97, 97, 0.425); /* Green */
  color: white;
}
.partner {
  padding-top: 60%;
}

.best {
  font-weight: 900;
  color: aliceblue;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

* {
  box-sizing: border-box;
}

form.form input[type="text"] {
  padding: 10px;
  font-size: 12px;
  border: 1px solid grey;
  float: left;
  width: 70%;
  background: #f1f1f1;
  font-family: "Courier New", Courier, monospace;
}

form.form button {
  float: left;
  width: 30%;
  padding: 10px;
  background: rgb(0, 0, 0);
  color: white;
  font-size: 12px;
  border: 1px solid rgb(12, 10, 10);
  border-left: none;
  cursor: pointer;
  font-family: "Courier New", Courier, monospace;
}

form.form button:hover {
  background: #535353bb;
}

form.form::after {
  content: "";
  clear: both;
  display: table;
}

.text-center {
  font-family: "Courier New", Courier, monospace;
  color: aliceblue;
  background-color: rgba(163, 163, 163, 0.116);
  text-align: center;
}

footer {
  color: aliceblue;
  font-weight: 600;
  justify-items: flex-end;
}

form.form input[type="text"] {
  padding: 10px;
  font-size: 12px;
  border: 1px solid grey;
  float: left;
  width: 70%;
  background: #f1f1f1;
  font-family: "Courier New", Courier, monospace;
}

form.form button {
  float: left;
  width: 30%;
  padding: 10px;
  background: rgb(0, 0, 0);
  color: white;
  font-size: 12px;
  border: 1px solid rgb(12, 10, 10);
  border-left: none;
  cursor: pointer;
  font-family: "Courier New", Courier, monospace;
}

form.form button:hover {
  background: #535353bb;
}

form.form::after {
  content: "";
  clear: both;
  display: table;
}

.text-center {
  font-family: "Courier New", Courier, monospace;
  color: aliceblue;
}

.artists__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.artist__box {
  margin-right: 10px;
}

.ad {
  background-color: rgba(32, 32, 31, 0.76);
  width: 200px;
  height: 200px;
  margin: 1%;
  margin-left: 0%;
  float: left;
}
.artist__work {
  color: white;
  text-align: center;
  background-color: gray;
}
.navbar__container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: auto auto;
}
.navbar__logo__container {
  margin-right: 20%;
}
.nav__item {
  font-size: 16px;
  padding: 10px 21px;
}
.bestSeller__container {
  padding: 200px 0 130px;
  background-color: rgba(154, 160, 159, 0.192);
  width: 100%;
}
.yourWork__container {
  background-color: rgba(160, 154, 154, 0.192);
  margin-top: 10%;
  width: 100%;
  height: 100vh;
}
.artList__container {
  background-color: rgba(160, 154, 154, 0.192);
}

.bestSeller__container {
  padding-top: 20px;
  padding: auto;
}

.bestSeller__tittle {
  margin-bottom: 80px;
  padding-right: 5%;
  text-align: center;
}
.bestSeller__tittle h2 {
  font-size: 36px;
  color: #ffffff;
  line-height: 27px;
  font-weight: 700;
  position: relative;
  margin-bottom: 28px;
}
.single__item {
  color: rgb(255, 255, 255);
  padding-left: 20%;
}
.single__item h3 {
  font-size: 24px;
  font-weight: 400;
}
.single__item p {
  margin-top: 20px;
  font-size: 20px;
}
.showArt__container {
  background-color: rgba(116, 111, 111, 0.322);
}
.single__item__text h3 {
  font-size: 40px;
}
.single__item__text p {
  font-size: 25px;
}
.main__view {
  width: 100%;
  height: 70vh;
  display: flex;
}
.left__view {
  background-color: rgba(116, 111, 111, 0.555);
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid white;
}
.right__view {
  background-color: rgba(116, 111, 111, 0.555);
  width: 80%;
  height: 100%;
}
.slideShow__container {
  width: 70%;
  margin: 0 auto;
}
.slideShow__text {
  color: black;
  background-color: rgba(255, 255, 255, 0.555);
}
.slideShow__view {
  width: 100%;
  background-color: rgba(116, 111, 111, 0.555);
}

.feature {
  /* 1 property */
  display: flex;
  background-color: #063233;
}

.feat-left,
.feat-right {
  width: 50%;
  height: 400px;
}

.feat-left {
  background-image: url("/images/about.png");
  background-size: cover;
  background-position: center center;
}

.feat-right {
  padding: 50px;
}

.feat-right p {
  color: white;
  margin: 1em 0;
  font-style: italic;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

.feat-intro {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  color: #ffe5c5;
}

.feat-right h3 {
  font-size: 2em;
  line-height: 1.4em;
  color: white;
  font-weight: bold;
  text-align: center;
}

.info {
  padding-right: 25%;
  text-align: center;
  padding-bottom: 2%;
}

#crt {
  text-align: left;
}

.aboutbtn,
.learn {
  height: 38px;
  width: 150px;
  text-align: center;
}

.nam {
  height: 48px;
  width: 250px;
  text-align: center;
}

.aboutbtn,
.add {
  height: 38px;
  width: 150px;
  text-align: center;
  margin-bottom: 5%;
}

.aboutbtn,
.art {
  height: 38px;
  width: 150px;
  text-align: center;
  margin-bottom: 5%;
}

.crt {
  height: 38px;
  width: 150px;
  text-align: center;
  margin-left: 0 !important;
}

.sup {
  height: 38px;
  width: 150px;
  text-align: center;
  margin-left: 25%;
  margin-top: 5%;
}

#img__crt {
  width: 150px !important;
  height: 150px !important;
}
