<h1>Hello <%= currentUser.firstname %></h1>
<h1><a href="/user/update">Update Email and Password</a></h1>
<h1><a href="/user/updateInformatoin">Update informaction</a></h1>

<h1><a href="/user/music">my music</a></h1>
