<h1>Hello <%= currentUser.firstname %></h1>
<div class="w3-bar-block w3-black" style="width:320px">
  <a href="/auth/home" class="w3-bar-item w3-button">home</a>
  <a href="/user/update" class="w3-bar-item w3-button">Update Email and Password</a>
  <a href="/user/updateInformation" class="w3-bar-item w3-button">Update informaction</a>
</div>

<footer>
  made by EJM group @2020
</footer>


