<h1>Hello <%= currentUser.firstname %></h1>
<div class="container">
  <div class="main__view">
    <div class="w3-bar-block w3-black left__view">
      <a href="/home" class="w3-bar-item w3-button">Home</a>
      <a
        href="/user/update"
        class="w3-bar-item w3-button"
        style="background-color: gray;"
        >Update Email and Password</a
      >
      <a href="/user/updateInformation" class="w3-bar-item w3-button"
        >Update informaction</a
      >
    </div>
    <div class="right__view">
      <div class="text-center">
        <form
          class="form-signin"
          method="POST"
          action="/user/update/<%= currentUser._id %>"
        >
          <h1 class="h3 mb-3 font-weight-normal">Update Informations</h1>
          <label for="inputEmail" class="sr-only">Old Email address</label>
          <input
            type="email"
            id="inputEmail"
            class="form-control"
            placeholder="Old Email address"
            required=""
            autofocus=""
            name="oldEmail"
            value="<%= currentUser.email %>"
            disabled
          />
          <label for="inputEmail" class="sr-only">New Email address</label>
          <input
            type="email"
            id="inputEmail"
            class="form-control"
            placeholder="New Email address"
            required=""
            autofocus=""
            name="newEmail"
            value="<%= currentUser.email %>"
          />
          <label for="inputPassword" class="sr-only">Old Password</label>
          <input
            type="password"
            id="inputPassword"
            class="form-control"
            placeholder="Old Password"
            required=""
            name="oldPassword"
          />
          <label for="inputPassword" class="sr-only">New Password</label>
          <input
            type="password"
            id="inputPassword"
            class="form-control"
            placeholder="New Password"
            required=""
            name="newPassword"
          />
          <label for="inputPassword" class="sr-only">Repeat New Password</label>
          <input
            type="password"
            id="inputPassword"
            class="form-control"
            placeholder="Repeat New Password"
            required=""
            name="reNewPassword"
          />
          <button
            id="signup"
            class="btn btn-lg btn-primary btn-block btn__color__fix"
            type="submit"
          >
            Update
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<footer>
  made by EJM group@2020
</footer>
