<a href="/artests">Go Back</a>

<form method="POST" action="/artests/create" enctype="multipart/form-data">

<div>
    <label>Name: </label>
    <input name="name" />
</div>

<div>
    <label>Email Address: </label>
    <input name="emailAddress" />
</div>

<div>
    <label> Phone Number: </label>
    <input type="text" name = "phoneNumber" />
</div>

<div>
    <label>Image: </label>
    <input type="file" name="filetoupload">
</div>

<button type="submit">Create Artest</button>

</form>