<h1>Post your art</h1>
<div class="container">
  <div class="post__view">
  <form
  method="POST"
  action="/art/create/<%= currentUser._id %>"
  enctype="multipart/form-data"
>
<nav id="Post">
  <div>
    <label>Title </label>
    <br />
    <input name="title" class="color__fix form-control"/>
  </div>

  <div>
    <label>Description </label>
    <br />
    <textarea
      name="description"
      cols="30"
      rows="10"
      placeholder="Tell us about your Art"
      class="color__fix form-control"
    ></textarea>
  </div>

  <div>
    <label> Price </label>
    <br />
    <input type="number" name="price" class="color__fix form-control"/>
  </div>

  <div>
    <label>Upload Art Image </label>
    <br />
    <input type="file" name="image" id="upload__img" class="text-center form-control"/>
  </div>
<br>
<div>
  <button id="signup" class="btn btn-lg btn-primary btn-block aboutbtn" type="submit">Create Art</button>
</nav>
</form>
  </div>
</div>
